:root {
  --light-aquamarine: #73fbd3;
  --white: #fff;
  --white-2:#F6F6F6;
  --black: #000;
  --black-lite:#171010;
  --red-lite:#FF0000;
  --blue-dark:#252B42;
  --blue-dark-2:#455880;
  --gray-2:#737373;
  --white-lite:rgba(69, 88, 128, 0.2);
  --transparent:transparent;
  
  
}
$colors: light-aquamarine,white, white-lite,white-2,black,black-2,red-lite,blue-dark,blue-dark-2,gray-2,transparent;
@each $color in $colors {
  .color-#{$color} {
    color: var(--#{$color});
    &-hover:hover {
      color: var(--#{$color});
    }
  }
  .bg-#{$color} {
    background: var(--#{$color});
    &-hover:hover {
      background: var(--#{$color});
    }
  }
  .border-#{$color} {
    border-color: var(--#{$color});
    &-hover:hover {
      border-color: var(--#{$color});
    }
  }
}
