.container{
    width: 100%;
    max-width: var(--container, #{ptr(1733px)} );
    margin-left: auto;
    margin-right: auto;
    &-2{
        @extend .container;
        --container:  #{ptr(1169px)};
    }
}