@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Regular.ttf');
    
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}
.font-montserrat{
    font-family: montserrat;
}