@for $var from 0 to 100 {
    .border{
        &-radius-#{$var}{
            border-radius: ptr($var * 1px);
        }
        &-#{$var}{
            border-width: ptr($var * 1px);
        }
    }
}
.border{
    &-solid{
        border-style: solid;
    }
}