.flex {
    display: flex;
    flex-wrap: wrap;
    --gap: 0px;

    @include resp {
        @for $var from 1 to 13 {
            &-#{$var} {
                flex-basis: calc(#{100% * $var / 12} - var(--gap, 0));
            }
        }
    }
    &-gap {
        @include resp {
            @for $var from 1 to 100 {
                &-#{$var} {
                    --gap: #{ptr($var * 1px)};
                    column-gap: ptr($var * 1px);
                }
            }
        }
    }
    &-column {
        flex-direction: column;
    }
    &-nowrap {
        flex-wrap: nowrap;
    }
    &-align {
        &-between {
            align-items: space-between;
        }
        &-start {
            align-items: flex-start;
        }
        &-center {
            align-items: center;
        }
        &-end {
            align-items: flex-end;
        }
    }
    &-justify {
        &-between {
            justify-content: space-between;
        }
        &-left {
            justify-content: flex-start;
        }
        &-center {
            justify-content: center;
        }
        &-right {
            justify-content: flex-end;
        }
    }
}
