.font {
    @include resp {
        @for $var from 1 to 101 {
            &-#{$var} {
                font-size: ptr($var * 1px);
            }
        }
    }
    &-w {
        @include resp {
            @for $var from 1 to 10 {
                &-#{$var * 100} {
                    font-weight: #{$var * 100};
                }
            }
        }
    }
}
.line-h {
    @include resp {
        @for $var from 1 to 101 {
            &-#{$var} {
                line-height: #{$var / 10};
            }
        }
    }
}
