.text{
    @include resp{
        &-left{
            text-align: left;
        }
        &-center{
            text-align: center;
        }
        &-right{
            text-align: right;
        }

    }
    &-decoration{
        &-none{
            text-decoration: none;
        }
    }
}