.top {
    @include resp {
        @for $var from 0 to 101 {
            &-#{$var} {
                top: ptr($var * 1px);
            }
            &-p-#{$var} {
                top: $var * 1%;
            }
        }
    }
}
.left {
    @include resp {
        @for $var from 0 to 101 {
            &-#{$var} {
                left: ptr($var * 1px);
            }
            &-p-#{$var} {
                left: $var * 1%;
            }
        }
    }
}
.right {
    @include resp {
        @for $var from 0 to 101 {
            &-#{$var} {
                right: ptr($var * 1px);
            }
            &-p-#{$var} {
                right: $var * 1%;
            }
        }
    }
}
.bottom {
    @include resp {
        @for $var from 0 to 101 {
            &-#{$var} {
                bottom: ptr($var * 1px);
            }
            &-p-#{$var} {
                bottom: $var * 1%;
            }
        }
    }
}
