.width {
    @include resp {
        @for $var from 1 to 1000 {
            &-#{$var} {
                width: ptr($var * 1px);
            }
            &-max-#{$var} {
                max-width: ptr($var * 1px);
            }
            &-min-#{$var} {
                min-width: ptr($var * 1px);
            }
        }
    }
    &-vw {
        @include resp {
            @for $var from 1 to 101 {
                &-#{$var} {
                    width: $var * 1vw;
                }
                &-max-#{$var} {
                    max-width: $var * 1vw;
                }
                &-min-#{$var} {
                    min-width: $var * 1vw;
                }
            }
        }
    }
    &-p {
        @include resp {
            @for $var from 1 to 101 {
                &-#{$var} {
                    width: $var * 1%;
                }
                &-max-#{$var} {
                    max-width: $var * 1%;
                }
                &-min-#{$var} {
                    min-width: $var * 1%;
                }
            }
        }
    }
}
